* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 5rem;
    background-color: black;
    display: flex;
    justify-content: space-between;




    position: absolute;
    top: 0px;
}

.leftContent {
    width: 40rem;
    border: solid red;
    display: flex;
    justify-content: space-around;
}

.leftContent .logo {
    cursor: pointer;
    border: solid saddlebrown;
    height: 100%;
}

.leftContent ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid pink;
    width: 25rem;
}

.leftContent a {
    color: #afa17e;
    text-decoration: none;
}



.rightContent {
    border: solid greenyellow;
    width: 22rem;
    display: flex;
    justify-content: space-around;
}

.rightContent .welcome {
    color: #afa17e;
    font-size: 17px;
    border: solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    /* padding: 5px 20px; */
    padding: 10px 10px 10px;
    border-radius: 20px;
    background-color: #afa17e;
    color: black;
    font-size: 18px;
    cursor: pointer;
}











.xBtn {

    cursor: pointer;
}






.form {
    background-color: beige;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    color: #afa17e;
    left: 500px;
    top: 250px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-image {
    width: 100%;
    height: 100vh;
    /* object-fit: cover; */
    /* position: absolute; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-image-text {
    /* align-items: center;
    justify-content: center; */
    position: absolute;
    top: 50%;
    left: 35%;
    text-align: center;
}

.bigText {
    font-size: 50px;
}