*{
    margin: 0;
    padding: 0;
}
header{
    /* background-color: black; */
    border: solid salmon;
    width: 100%;
    height: auto;
    position: fixed;

}
/* body{
    height: 100vh;
  border: solid salmon;
} */
img{
    width: 100%;
    height: 100%;
}