* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.834);
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    position: absolute;
    top: 0px;
}

.leftContent {
    width: 35rem;
    /* border: solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

.leftContent .logo {
    cursor: pointer;
    /* border: solid saddlebrown; */
    height: 80%;
}

.leftContent ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid pink; */
    width: 25rem;
}

.leftContent a {
    color: #afa17e;
    text-decoration: none;
    font-size: 18px;
}

.rightContent {
    /* border: solid greenyellow; */
    width: 22rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightContent .welcome {
    color: #fff;
    font-size: 15px;
    /* border: solid pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightContent button {
    /* border: solid blue; */
    height: 2rem;
    width: 9rem;
    border-radius: 20px;
    background-color: #afa17e;
    color: black;
    font-size: 18px;
    cursor: pointer;
    border: none;
    font-family: 'Lato', sans-serif;
}



body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'YourFontNameHere', sans-serif;
}

.background {
    background-image: url(assest/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* .bg-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.75);
    z-index: -1;
} */

.bg-image-text {
    color: #fff;
    position: absolute;
    top: 40%;
    left: 28%;
    text-align: center;
}

.textOne {
    font-size: 2rem;
}

.textTwo {
    font-size: 4.5rem;
}


.form {
    background-color: beige;
    width: 400px;
    height: 350px;
    position: absolute;
    /* margin: 20px;
    padding: 20px; */
    /* display: flex; */
    /*   text-align: center;
    justify-content: center; */
    color: black;
    left: 500px;
    top: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}




.xBtn {

    cursor: pointer;
    display: flex;
}

.miniText {
    font-size: 15px;
}

span {
    text-decoration: underline;
    font-weight: bold;
}

input {
    width: 50%;
}

.loginBtn {
    width: 50%;
}